<html>
<head>
  <title><%= @title %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>

<div id="content">
<h1><%= @title %></h1>
<%= yield %>
</div>

<div id="footer">
  <div>
    Written by:
    <a href="http://www.aelius.com/njh/">Nicholas Humfrey</a>
  </div>
  <div>
    Source code: <%= link_to('http://github.com/njh/mqtt-http-bridge') %>
  </div>
  <div>
    Powered by:
    <a href="http://www.sinatrarb.com/">Sinatra</a> and 
    <a href="http://github.com/njh/ruby-mqtt/">ruby-mqtt</a>
  </div>
</div>

</body>
</html>
